body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/background3.webp);
    background-size: 100%;
    color: #fff;
    margin-left: 25px;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-top: 3%;
}
h1:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: #ffffff;
}
  
h2 {
    font-size: 30px;
    font-weight: bold;
    clear: both;
}
h3 {
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}
a {
    color: #72e7f0;
    background-color: transparent;
    text-decoration: none;
    font-size: 20px;
    transition: .2s;
}
hr {
    background-color: #fff;
    height: 7px;
    width: 38%;
    margin-left: 0px;
    clear: both;
    margin-top: 200px;
    border-radius: 20px;
}
p {
    font-size: 20px;
    line-height:1.5;
    width: 500px;
    float: right;
    
}
h3 a {
    font-size: 20px;
    text-decoration:underline ;
}
h3 a:hover{
    text-decoration: underline;
}

div .img500 {
    float: left;
    transition: transform .2s;
    border-radius: 25px;
    border: 3px solid #ffffff;
    padding: 0px;
    width: 200px;
    height: 150px;
}
div .img500:hover {
    transform: scale(1.05)
}

div p {
    font-size: 20px;
    line-height:1.5;
    width: 500px;
    padding-left: 40px;
    float: left;
}
a button {
    font-size: 20px;
    color: #72e7f0;
}
.nav {
    width: 375px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    margin: auto;
    position:fixed ;
    top: 40%;
    margin-left: 60%;
    border: 5px solid white;
    border-radius: 20px ;
    padding: 20px;
    background-color: #222;
    box-shadow: 0 0 40px;
}
button {
    width: 150px;
    padding: 12px;
    border-radius: 20px;
    border: 3px solid #284cff;
    cursor: pointer;
    background-color: #111;
    background-image: url(images/liquidfill.png);
    background-repeat: repeat-x;
    background-position: 0 -100%;
    transition: 1.5s;
}
button:hover {
    background-position: center;
}
a:nth-child(1) {
    filter: hue-rotate(00deg);
}
a:nth-child(2) {
    filter: hue-rotate(40deg);
}
a:nth-child(3) {
    filter: hue-rotate(80deg);
}
a:nth-child(4) {
    filter: hue-rotate(120deg);
}
a:nth-child(5) {
    filter: hue-rotate(160deg);
}
a:nth-child(6) {
    filter: hue-rotate(200deg);
}
.active {
    background-position: center;
}


