body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/background.png);
    background-size: 100%;
    color: #fff;
    margin-left: 25px;
}
h1 {
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}
h2 {
    font-size: 30px;
    font-weight: bold;
}
h3 {
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}
a {
    color: #72e7f0;
    background-color: transparent;
    text-decoration: none;
    font-size: 20px;
}
a:hover {
    color: #3a888d;
    background-color: transparent;
    text-decoration: none;
    font-size: 20px;
}
hr {
    background-color: #fff;
    height: 7px;
    /* margin-right: 85%; */
    width: 500px;
    margin-left: 0px;
}
p {
    font-size: 20px;
    /* margin-right: 925px; */
    line-height:1.5;
    width: 500px;
    float: right;
    
}
h3 a {
    font-size: 20px;
    text-decoration:underline ;
}
h3 a:hover{
    text-decoration: underline;
}
.row {
    clear: both;
    display: table;
}

.row .img500 {
    width: 500px;
    float: left;
    transition: transform .2s;
}
.row .img500:hover {
    transform: scale(1.05)
}

.row p {
    font-size: 20px;
    /* margin-right: 925px; */
    line-height:1.5;
    width: 500px;
    float: left;
    padding-left: 40px;
}

