table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}
td,tr, th {
    padding: 10px;
    text-align: center;
}
table {
    width: 100%;
}
td {
    width: 80px;
}
th {
    width: 30px;
}
