body {
    background-image: url(Hatter.png);
    background-size: 100%;
}
p {
    text-align: justify;
}
h1 {
    text-align: center;
}
h2 {
    text-decoration: underline;
}
.kiemelt {
    font-style: italic;
    color: blue;
}
.fontos {
    color: red;
    font-weight: bold;
}
table{
    border: 2px solid blue;
    border-collapse: collapse;
    background-color: lightgray;
}
td {
    border: 1px solid blue;
    padding: 10px;
}
img {
    width: 400px;
    display: block;
    margin: auto;
}
